---
http_interactions:
- request:
    method: post
    uri: https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
          <s:Header>
            <wsse:Security s:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:UsernameToken>
                <wsse:Username>a</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">b</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </s:Header>
          <s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <requestMessage xmlns="urn:schemas-cybersource-com:transaction-data-1.121">
              <merchantID>a</merchantID>
              <merchantReferenceCode>5a84630d87c68bf3273e9e1d</merchantReferenceCode>
              <clientLibrary>Ruby Active Merchant</clientLibrary>
              <clientLibraryVersion>1.77.0</clientLibraryVersion>
              <clientEnvironment>x86_64-darwin17</clientEnvironment>
        <billTo>
          <firstName>Ben</firstName>
          <lastName>Crouse</lastName>
          <street1>22 s. 3rd st.</street1>
          <city>Philadelphia</city>
          <state>PA</state>
          <postalCode>19106</postalCode>
          <country>US</country>
          <email>bcrouse@weblinc.com</email>
        </billTo>
        <purchaseTotals>
          <currency>USD</currency>
          <grandTotalAmount>0.00</grandTotalAmount>
        </purchaseTotals>
        <card>
          <accountNumber>4111111111111111</accountNumber>
          <expirationMonth>01</expirationMonth>
          <expirationYear>2019</expirationYear>
          <cardType>001</cardType>
        </card>
        <subscription>
          <paymentMethod>credit card</paymentMethod>
        </subscription>
        <recurringSubscriptionInfo>
          <amount>0.00</amount>
          <frequency>on-demand</frequency>
          <approvalRequired>false</approvalRequired>
        </recurringSubscriptionInfo>
        <paySubscriptionCreateService run="true"/>
        <businessRules>
          <ignoreAVSResult>true</ignoreAVSResult>
          <ignoreCVResult>true</ignoreCVResult>
        </businessRules>
            </requestMessage>
          </s:Body>
        </s:Envelope>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opnet-Transaction-Trace:
      - a2_04499741-852a-4bc0-8e84-7f0a8ed9d662
      - a2_217f5d6a-15e8-4f17-be5e-23138f7b1072
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
        <soap:Header>
        <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsu:Timestamp xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="Timestamp-329041401"><wsu:Created>2018-02-14T16:25:50.453Z</wsu:Created></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><c:replyMessage xmlns:c="urn:schemas-cybersource-com:transaction-data-1.121"><c:merchantReferenceCode>5a84630d87c68bf3273e9e1d</c:merchantReferenceCode><c:requestID>5186255502536772704008</c:requestID><c:decision>ACCEPT</c:decision><c:reasonCode>100</c:reasonCode><c:requestToken>Ahj/7wSTGSXA3ZkPVFcIESDdsxZsHDllJiTGUedZjpcel0aQIClx6XRpA6QAfbYZNJMvRiuae3gTkxklwN2ZD1RXCAAA8Rcd</c:requestToken><c:purchaseTotals><c:currency>USD</c:currency></c:purchaseTotals><c:ccAuthReply><c:reasonCode>100</c:reasonCode><c:amount>0.00</c:amount><c:authorizationCode>888888</c:authorizationCode><c:avsCode>X</c:avsCode><c:avsCodeRaw>I1</c:avsCodeRaw><c:authorizedDateTime>2018-02-14T16:25:50Z</c:authorizedDateTime><c:processorResponse>100</c:processorResponse><c:reconciliationID>76130892IDL2GNYG</c:reconciliationID><c:paymentNetworkTransactionID>123456789000000</c:paymentNetworkTransactionID></c:ccAuthReply><c:paySubscriptionCreateReply><c:reasonCode>100</c:reasonCode><c:subscriptionID>5186255502536772704008</c:subscriptionID></c:paySubscriptionCreateReply></c:replyMessage></soap:Body></soap:Envelope>
  recorded_at: Wed, 14 Feb 2018 16:25:50 GMT
[...]
- request:
    method: post
    uri: https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
          <s:Header>
            <wsse:Security s:mustUnderstand="1" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
              <wsse:UsernameToken>
                <wsse:Username>a</wsse:Username>
                <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">b</wsse:Password>
              </wsse:UsernameToken>
            </wsse:Security>
          </s:Header>
          <s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <requestMessage xmlns="urn:schemas-cybersource-com:transaction-data-1.121">
              <merchantID>a</merchantID>
              <merchantReferenceCode>5a84630d87c68bf3273e9e1d</merchantReferenceCode>
              <clientLibrary>Ruby Active Merchant</clientLibrary>
              <clientLibraryVersion>1.77.0</clientLibraryVersion>
              <clientEnvironment>x86_64-darwin17</clientEnvironment>
        <purchaseTotals>
          <currency>USD</currency>
          <grandTotalAmount>5.00</grandTotalAmount>
        </purchaseTotals>
        <ccCreditService run="true">
          <captureRequestID>5186255505976710404009</captureRequestID>
          <captureRequestToken>Ahj//wSTGSXA4Ln7mBepESDdsxZsmDJrEiS6teLXhpbx4upIwClvHi6kjaQJ+j7bDJpJl6MVzT24YE5MZJcDgufuYF6kMguH</captureRequestToken>
        </ccCreditService>
            </requestMessage>
          </s:Body>
        </s:Envelope>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opnet-Transaction-Trace:
      - a2_44c65d75-a72a-4f05-bb1e-3b567c6fab6a
      - a2_787d3481-f83c-4fff-99da-782330192dad
      C[...]
